* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background: #262350;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 999999;
}

.logo {
    background: url(logo.png) center center / contain no-repeat;
    padding: 19px;
}

.header a {
    margin-left: 20px;
    line-height: 55px;
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.header a:hover {
    text-decoration: underline;
}

.main-pic {
    height: 750px;
    background: url(main.jpg) center center / cover no-repeat;
    margin-top: 55px;
    position: relative;
}

.join {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: auto;
    height: 140px;
    line-height: 70px;
}

h1 {
    color: white;
    font-size: 38px;
}

.button-join {
    background-color:  #262350;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 15px 25px;
    font-size: 22px;
}

.button-join:hover {
    background-color: #cc4b4c;
}

.soc-seti {
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 15px;
    left: 0;
    text-align: end;
    height: 20px;
    margin-top: auto;
}

.soc-seti a {
    margin: 2px;
}

.vk {
    background: url(VK.png) center top / contain no-repeat;
    padding: 20px;
}

.fb {
    background: url(facebookicon.png) center top / contain no-repeat;
    padding: 20px;
}

.instagram {
    background: url(instagram.png) center top / contain no-repeat;
    padding: 20px;
}

h2 {
    background-color: #262350;
    line-height: 55px;
    color: white;
    font-weight: 500;
    text-align: center;
}

.contain {
    border-left: 2px solid #262350;
    border-right: 2px solid #262350;
    padding: 60px;
    color: #262350;
    font-weight: 500;
    line-height: 1.5;
    font-size: 15px;
}

.contain p {
    padding-bottom: 25px;
}

.travel-part1 {
    display: flex;
    color: #262350;
    border: 5px solid #262350;
}

.rus {
    box-sizing: border-box;
    width: 400px;
    text-align: center;
    padding: 15px;
    
}

.moscow {
    background: url(moscow.png) center center / contain no-repeat;
    padding: 50px;
    display: block;
}

.travel-part1 a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.travel-part1 a:hover {
    text-decoration: underline;
}

.travel-part1 p {
    margin-top: 50px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
}

.eur {
    box-sizing: border-box;
    width: 400px;
    border-left: 5px solid #262350;
    border-right: 5px solid #262350;
    text-align: center;
    padding: 15px;
   
}

.big-ben {
    background: url(big-ben.png) center center / contain no-repeat;
    padding: 50px;
    display: block;
}

.afrika {
    box-sizing: border-box;
    width: 400px;
    text-align: center;
    padding: 15px;
}

.pyramids {
    background: url(pyramids.png) center center / contain no-repeat;
    padding: 50px;
    display: block;
}

.travel-part2 {
    display: flex;
    color: #262350;
    border: 5px solid #262350;
    border-top: none;
}

.north-am {
    box-sizing: border-box;
    width: 400px;
    text-align: center;
    padding: 15px;
    
}

.north-america {
    background: url(north-america.png) center center / contain no-repeat;
    padding: 50px;
    display: block;
}

.travel-part2 a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.travel-part2 a:hover {
    text-decoration: underline;
}

.travel-part2 p {
    margin-top: 50px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
}

.south-am {
    box-sizing: border-box;
    width: 400px;
    border-left: 5px solid #262350;
    border-right: 5px solid #262350;
    text-align: center;
    padding: 15px;
   
}

.south-america {
    background: url(south-america.png) center center / contain no-repeat;
    padding: 50px;
    display: block;
}

.austr {
    box-sizing: border-box;
    width: 400px;
    text-align: center;
    padding: 15px;
}

.kangaroo {
    background: url(kangaroo.png) center center / contain no-repeat;
    padding: 50px;
    display: block;
}

//   Блог Вопрос-Ответ 

.question {
    border: #262350 2px solid;
}

.question-part {
    margin: 30px 60px;
    background-color: #f1efef;
    border-radius: 3px;
    box-shadow: 1px 2px 8px 1px #949393;
    padding: 2px;
    max-width: 1000px;
}

.question-part:nth-child(2) {
    margin-top: 40px;
}

.question-part:last-child {
    margin-bottom: 60px;
}

.question-part1 {
    display: flex;
    padding: 15px;
}

.question-part1-img {
    width: 5%;
    color: rgb(6, 173, 6);
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
}

.question-part1-text {
    width: 95%;
}

h4 {
    font-size: 16px;
    line-height: 24px;
}

.question-hide {
    display: none;
}

.question-part2 {
    display: flex;
    padding: 15px;
    background-color: white;
    border-radius: 2px;
}

.question-part2-img {
    width: 5%;
    font-size: 16px;
    line-height: 28px;
    color: grey;
}

.question-part2-text {
    width: 95%;
    font-size: 14px;
    line-height: 24px;
}

.question-part3 {
    display: flex;
    padding: 15px;
}

.question-part3:hover {
    cursor: pointer;
    
}

.question-part3-img {
    width: 5%;
}

.question-part3-text {
    width: 95%;
    color: #06ad06;
    font-weight: 600;
    font-size: 8px;
    line-height: 12px;
    position: relative;
    padding-left: 20px;
}

.question-part3-text-arrow {
    position: absolute;
    border-left: #06ad06 2px solid;
    border-top: #06ad06 2px solid;
    width: 4px;
    height: 4px;
    left: 3px;
    top: 1px;
    margin: auto;
    transform: rotate(-135deg);
}






.footer {
    background-color: #262350;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 40px 50px;
}

.part1 {
    line-height: 2;
    font-size: 13px;
    position: relative;
}

h3 {
    font-size: 24px;
    color: #ffd802;
}

.yellow {
    color: #ffd802;
}

.soc-footer {
    position: absolute;
    bottom: -17px;
    left: 0;
    
}

.vk-footer {
    background: url(VK.png) center bottom / contain no-repeat;
    padding: 12px;
}

.fb-footer {
    background: url(facebookicon.png) center bottom / contain no-repeat;
    padding: 12px;
}

.soc-footer a {
    margin-right: 3px;
}

.instagram-footer {
    background: url(instagram.png) center bottom / contain no-repeat;
    padding: 12px;
}

.part2{
    height: 20px;
    margin: auto;
}

.logo1 {
    background: url(logo.png) center center / contain no-repeat;
    padding: 60px;
}

.part3 a {
    display: block;
    text-align: end;
    line-height: 2;
    font-size: 13px;
    text-decoration: none;
    color: white;
}

.part3 a:hover {
    text-decoration: underline;
}
